{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    <p> A mettre dans un modal ! </p>
    {{ render(controller('FOSUserBundle:Registration:register')) }}
    <hr>
    {{ render(controller('ClimaClassApplicationBundle:Message:listPrivateMessageAdmin')) }}
    
{% endblock %}