<!DOCTYPE html>
<html>
    <head>
        <link href="{{asset('bundles/climaclassapplication/css/ui/trumbowyg.min.css')}}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
       
    </head>
    <body>
        <p> NAVBAR ICI </p>
        <p> SLIDER PHOTO ICI</p>
        {% block content %}
        {% endblock %}
        <p> FOOTER ICI </p>
        <script src="{{asset('bundles/climaclassapplication/js/trumbowyg.min.js')}}"></script>
        <script src="{{asset('bundles/climaclassapplication/js/plugin/upload/trumbowyg.upload.js')}}"></script>
    </body>
</html>