<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        Hello {{ user.lastname }} {{user.firstname}}!
        <p> NAVBAR ICI </p>
        <p> SLIDER PHOTO ICI</p>
        {% block content %}
        {% endblock %}
        <p> FOOTER ICI </p>
    </body>
</html>