body
{
	text-decoration: none;
}

a:link
{
	text-decoration: none;
}
.container[role=main]
{
	margin-bottom: 20px;
}

#menu
{
	background: blue;
	border-bottom: 2px solid #8bc34a;
}

footer
{
	background: #767676;
	text-align: center;
	color: #FFF;
}

footer li
{
	list-style-type:none;
}

.button
{
	padding: 3px;
	border: 2px solid #FFF;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.button > a
{
	color: #FFF;
}

.button:hover
{
	padding: 3px;
	border: 2px solid #FFF;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	transition : 0.1s;
}

.button:hover > a
{
	color: #FFF;
	transition : 0.1s;
}

.buttong
{
	padding: 3px;
	border: 2px solid #8bc34a;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	color: #8bc34a;
	background-color: #FFF;
}

.buttong > a
{
	color: #8bc34a;
}

.buttong:hover
{
	padding: 3px;
	border: 2px solid #8bc34a;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	transition : 0.1s;
}

.buttong:hover > a
{
	color: #8bc34a;
	transition : 0.1s;
}

.navbar-brand
{
	height: auto;
	padding: 2px 15px;
}

.thumbnail
{
	border-radius: 0px;
	background-color: #00a8ff;
	margin-bottom: 70px;
	padding: 0px; 
}

.thumbnail > div > h3, p
{
	color: white;
}

.square
{
	background-color: #8bc34a;
}

.navbar
{
	border-bottom: 2px solid #8bc34a;
}

.navbar-default
{
	background-color: #FFF;
}

.cl-indicator
{
	border-bottom: 1px dashed #FFF;
	color: #FFF;
}

#pagination
{
	text-align: center;
}

.repport
{

	border: 5px solid #eeeeee;
	color: black!important;
}

.green
{
	background-color: #8bc34a;
	color: white;
	padding: 5px;
}

.repport h1
{
	margin-top: 10px;
}

.repport p 
{
	color: black;
}

.indicators_view
{
	border: 5px solid #ceeda9;
	padding: 5px;
	color: black;
	text-align: center;
}

.indicators_view p
{
	color: #00a8ff;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
}

.indicators_view img
{
	width:35%;
    height: auto;
    overflow:hidden;
}

.indicators_add
{
	border: 5px solid #ceeda9;
	padding: 5px;
	color: black;
	text-align: center;
}

.indicators_add p
{
	color: #00a8ff;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
}

.video
{	
	text-align: center;
}

.video div
{
	margin-top: 15px;
	width: 100%;
	height: 300px;
	background-color: #00a8ff;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .indicators_view p {
    font-size: 15px;
  }
  .indicators_view img{
		width:100%;
	    height: auto;
	    overflow:hidden;
	}
}

.trumbowyg-box, .trumbowyg-editor
{
	width: 100%!important;
	margin: auto!important;
}

.green .form-control
{
	border-radius: 0!important;
}

.green .has-success, .form-control
{
	border-color: #FFF!important;
}

.green .form-group
{
	margin-bottom: 0px!important;
}

.indicators_back > .form-control, .has-success
{
	/*border-color: #8bc34a!important;
	border: 1px solid #8bc34a!important;*/
	border-radius: 0!important;
}

/*.indicators_back > .col-xs-11, .col-xs-2
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}*/

.comment p
{
	color: black;
}

.comment
{
	margin-top: 15px;
}

.avatar
{
	margin: auto;
	text-align: center;
	border-right: 2px solid #00a8ff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.comment textarea
{
	border: 1px solid #8bc34a!important;
}

.blue
{
	background-color: #00a8ff;

}

.blue h3
{
	color: #FFF;
	font-size: 30px;
	margin-top: 10px;
}

.grey
{
	background-color: #eeeeee;
	margin-bottom: 10px;
}

.grey p 
{
	color: 
}

.greyInput
{
	margin-top: 10px;
	margin-bottom: 10px;
}