body
{
	text-decoration: none;
}

a:link
{
	text-decoration: none!important;
}
.container[role=main]
{
	margin-bottom: 20px;
}

#menu
{
	background: blue;
	border-bottom: 2px solid #8bc34a;
}

footer
{
	background: #767676;
	text-align: center;
	color: #FFF;
}

footer li
{
	list-style-type:none;
}

.button
{
	padding: 3px;
	border: 2px solid #FFF;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.button > a
{
	color: #FFF;
}

.button:hover
{
	padding: 3px;
	border: 2px solid #FFF;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	transition : 0.1s;
}

.button:hover > a
{
	color: #FFF;
	transition : 0.1s;
}

.buttong
{
	padding: 3px;
	border: 2px solid #8bc34a;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	color: #8bc34a;
}

.buttong > a
{
	color: #8bc34a;
}

.buttong:hover
{
	padding: 3px;
	border: 2px solid #00a8ff;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	transition : 0.1s;
	color: #00a8ff;
}

.buttong:hover > a
{
	color: #00a8ff;
	transition : 0.1s;
}

.navbar-brand
{
	height: auto;
	padding: 2px 15px;
}

.thumbnail
{
	border-radius: 0px;
	background-color: #00a8ff;
	margin-bottom: 70px;
	padding: 0px; 
}

.thumbnail > div > h3, p
{
	color: white;
}

.square
{
	background-color: #8bc34a;
}

.navbar
{
	border-bottom: 2px solid #8bc34a;
}

.navbar-default
{
	background-color: #FFF;
}

.cl-indicator
{
	border-bottom: 1px dashed #FFF;
	color: #FFF;
}

#pagination
{
	text-align: center;
}

.repport
{

	border: 5px solid #eeeeee;
	color: black!important;
}

.green
{
	background-color: #8bc34a;
	color: white;
	padding: 5px;
}

.repport h1
{
	margin-top: 10px;
}

.repport p 
{
	color: black;
}

.indicators_view
{
	border: 5px solid #ceeda9;
	padding: 5px;
	color: black;
	text-align: center;
}

.indicators_view p
{
	color: #00a8ff;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
}

.indicators_view img
{
	width:35%;
    height: auto;
    overflow:hidden;
}

.indicators_add
{
	border: 5px solid #ceeda9;
	padding: 5px;
	color: black;
	text-align: center;
}

.indicators_add p
{
	color: #00a8ff;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
}

.video
{	
	text-align: center;
}

.video div
{
	margin-top: 15px;
	width: 100%;
	height: 300px;
	background-color: #00a8ff;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .indicators_view p {
    font-size: 15px;
  }
  .indicators_view img{
		width:100%;
	    height: auto;
	    overflow:hidden;
	}
}

.trumbowyg-box, .trumbowyg-editor
{
	width: 100%!important;
	margin: auto!important;
}

.green .form-control
{
	border-radius: 0!important;
}

.green .has-success
{
	border-color: #FFF!important;
}

.green .form-group
{
	margin-bottom: 0px!important;
}

.indicators_back > .form-control, .has-success
{
	/*border-color: #8bc34a!important;
	border: 1px solid #8bc34a!important;*/
	border-radius: 0!important;
}

/*.indicators_back > .col-xs-11, .col-xs-2
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}*/

.comment p
{
	color: black;
}

.comment
{
	margin-top: 15px;
}

.avatar
{
	margin: auto;
	text-align: center;
	border-right: 2px solid #00a8ff;
	padding: 3px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.comment textarea
{
	border: 1px solid #8bc34a!important;
}

.comment
{
	background-color: #e1e1e1;
}

.comment:last-child
{
	margin-bottom: 15px;
}

.blue
{
	background-color: #00a8ff;

}

.blue h3
{
	color: #FFF;
	font-size: 30px;
	margin-top: 10px;
}

.grey
{
	background-color: #eeeeee;
	margin-bottom: 10px;
}

.grey p 
{
}

.greyInput
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.conversation:not(:last-child)
{
	border-bottom: 1px dashed #00a8ff;
}

.conversation-back
{
	background-color: #fff;
	padding-right: 7px!important;
	padding-left: 7px!important;
}

#graph1, #graph2
{
	height: 350px;
}

.left
{
	text-align: right;
	border-right: 0px!important;
}

.left .avatar
{
	text-align: right;
	border-right: 0px;
	border-left: 2px solid #00a8ff;

}

.conversation-area
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.send
{
	font-size: 25px!important;
	color: #fff;
	text-decoration: none;
	line-height: 200%;
}

.send:hover
{
	color: #00a8ff;
	transition: 0.1s;
}

footer a
{
	text-decoration: none;
	color: #fff;
}

footer a:hover
{
	color: #00a8ff;
}

.sbutton
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

.sbutton:hover
{
	padding: 3px;
	border: 2px solid #00a8ff;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	transition : 0.1s;
	color: #00a8ff;
}










.controls {
			margin-top: 16px;
			border: 1px solid transparent;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 32px;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}

		#pac-input {
			background-color: #fff;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			margin-left: 12px;
			padding: 0 11px 0 13px;
			text-overflow: ellipsis;
			width: 400px;
		}

		#pac-input:focus {
			border-color: #4d90fe;
		}

		.pac-container {
			z-index: 30
		}

		#type-selector {
			color: #fff;
			background-color: #4d90fe;
			padding: 5px 11px 0px 11px;
		}

		#type-selector label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		}














#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 10;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 1px solid black;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 20;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
img.btn_close {
	float: right;
	margin: -15px -15px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

.list-message
{
	font-size: 25px;
}

.navigation
{
	text-align: center;
}
.save {
    background-color: transparent;
}
.file {
    height: 38px;
    padding: 0 12px;
}